/*
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/
/* All devices */
.spot-maximized {
    width: 100% !important;
    height: 100% !important;
}

.spot-minimized {
    position: absolute;
    top: -1000000px;
    left: -1000000px;
}

.row.spot-row {
    margin: 0;
    width: 100%;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading {
    height: 35px;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading .panel-toolbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading .panel-toolbar li {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

.spot-frame > .spot-frame-content > .panel > .panel-body {
    padding: 0;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box {
    overflow: hidden !important;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box > .inner-container-box {
    max-height: 100%;
    overflow: auto;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container {
    width: 100%;
    overflow-x: auto;
    height: 1px;
}

.spot-frame .panel-body-container.container-box > * {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.sortable {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.overflowing {
    overflow-y: scroll;
}

#accordion {
    height: 85%;
}

.fit {
    height: 50%;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
    .spot-row {
        min-height: 400px;
    }

    .spot-frame,
    .spot-frame > .spot-frame-content,
    .spot-frame > .spot-frame-content > .panel,
    .spot-frame > .spot-frame-content > .panel > .panel-body,
    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container,
    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box > *
    {
        min-height: inherit;
    }
}

/* Medium devices (desktops, 992px and up, two columns) */
@media (min-width: 992px) {
    html, body {
        height: 100%;
        overflow-x: hidden;
    }

    #spot-nav {
        position: fixed;
        z-index: 3;
        width: 100%;
    }

    #spot-content, #spot-content-wrapper {
        height: 100%;
        width: 100%;
    }

    #spot-content-wrapper {
        padding: 94px 0 0 0;
    }

    #spot-content > .spot-row {
        margin: 0;
    }

    .spot-frame {
        height: 100%;
        padding: 0;
    }

    .spot-frame > .spot-frame-content {
        height: 100%;
        padding: 10px;
    }

    .spot-frame > .spot-frame-content > .panel {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-heading {
        width: 100%;
        position: absolute;
        z-index: 2;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-body {
        height: 100%;
        width: 100%;
        padding: 35px 0 0 0;
        overflow: hidden;
    }

    .spot-frame > .spot-frame-content > .panel.no-heading > .panel-body {
        width: 100%;
        padding-top: 0px;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container {
        height: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */

/*******************************
 **           Spot             **
 *******************************/


/*******************************
 **       STORYBOARD          **
 *******************************/
/*
prevent the active panel from collapsing
 */
#spot-executive-threat-briefing.panel-group [aria-expanded=true] {
    /*
    http://caniuse.com/#feat=pointer-events
    Works for MOST modern browsers. (- Opera Mobile)
    */
    pointer-events: none;
}

#spot-executive-threat-briefing.panel-group a[aria-expanded=true] {
    text-decoration: underline;
}

.storyboard #incident_list, .storyboard .comment_summary  {
    list-style: none;
    text-align: left;
}

/**    IMPACT ANALYSIS     **/
.sb_impact rect.background {
    fill: none;
    pointer-events: all;
}

.sb_impact .axis {
    shape-rendering: crispEdges;
}

.sb_impact .axis path, .sb_impact .axis line {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}

.sb_impact svg{
    font: 10px sans-serif;
}

/**         MAP VIEW       **/
.sb_globe_view .land {
    fill: #939598;
    stroke-opacity: 1;
}

.sb_globe_view .graticule {
    fill: none;
    stroke: black;
    stroke-width: .5;
    opacity: .2;
}

.sb_globe_view .labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;
    display: none;
}

.sb_globe_view .noclicks {
    pointer-events: none;
}

.sb_globe_view .point {
    opacity: .6;
}

.sb_globe_view .arcs {
    opacity: .1;
    stroke: #939598;
    stroke-width: 3;
}

.sb_globe_view .flyers {
    stroke-width: 3;
    opacity: 1.0;
    stroke: #A31C24;
}

.sb_globe_view .arc, .sb_globe_view .flyer {
    stroke-linejoin: round;
    fill: none;
}

.sb_globe_view .arc {
}

.sb_globe_view .flyer {
}

.sb_globe_view .flyer:hover {
}

/**       TIMELINE         **/

.timeline .spot-chart {
    overflow-x: hidden;
}

.timeline svg {
    font: 10px sans-serif;
}

.timeline .zoom {
    fill: transparent;
    cursor: pointer;
}

.timeline .y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.timeline .graph-body .line circle {
    opacity: 0.4;
}

/* TOOLTIP */

.spot-tooltip .tooltip-inner {
    word-wrap: break-word;
}

.spot-text-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12em;
}

.spot-text-wrapper.spot-text-sm {
    width: 6em;
}

.spot-text-wrapper.spot-text-lg {
    width: 18em;
}

/*  GLYPHICON INPUT  */

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.right-addon input { padding-right: 30px; }

.margin-up-down {
  padding: 20px 0px;
}



/** new side bar css**/



  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
